@model AALKisMVCUI.Models.NoteModel

<h2>Create New Dictionary Entry</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="form-group">
    @Html.LabelFor(model => model.Word)
    @Html.TextBoxFor(model => model.Word, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Meaning)
    @Html.TextAreaFor(model => model.Meaning, new { @class = "form-control" })
</div>

<div class="form-group">
    <input type="submit" value="Create" class="btn btn-primary" />
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</div>
}
